/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.idea
**/sample.html
**/sample_global_search.html
**/callout-list-block-sample.html
**/sample.pdf
*.gem
/Gemfile.lock
/.asciidoctor